<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить фильм</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Добавить новый фильм</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Название фильма</label>
                <input type="text" class="form-control" id="id_title" placeholder="Введите название" name="title">
            </div>
            <div class="form-group">
                <label for="id_description">Описание фильма</label>
                <textarea class="form-control" id="id_description" rows="3" placeholder="Введите описание" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="id_review">Отзыв о фильме</label>
                <textarea class="form-control" id="id_review" rows="3" placeholder="Ваш отзыв" name="review"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Добавить фильм</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
