<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список фильмов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Список фильмов</h2>
        <ul class="list-group">
            {% for film in films %}
                <li class="list-group-item">
                    <h3>{{ film.title }}</h3>
                    <p>{{ film.description }}</p>
                    <strong>Отзыв:</strong> {{ film.review }}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
